@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;







body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.admin_login {
  box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.492);
}


.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #edaa00 #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #ff0000 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}


.sidebar::-webkit-scrollbar {
  display: none;
}

.dashboard_section::-webkit-scrollbar {
  display: none;
}


.header_options>ul>li:hover {
  cursor: pointer;
  transition: 0.4s;
}


.login_form::-webkit-scrollbar {
  display: none;
}

.options>ul>li :hover {
  font-weight: 700;
  color: black;
}

.menubar {
  display: none !important;
}


.megamenu {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}


.profile_section:hover~.megamenu {
  opacity: 1;
  visibility: visible;
}


.about_use_main_card {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.451);
}


.hide_scroll::-webkit-scrollbar {
  display: none;
}


.profileshadow {
  box-shadow: 0px 0px 10px #ff869a, inset -0px -0px 3px #ff869a;
}