@media screen and (max-height : 691px) {
    .login_main {
        height: auto !important;
        padding: 20px 0px;
    }
}


@media screen and (max-width : 1210px) {
    .home_banner_content>h1 {
        font-size: 35px !important;
    }

    .home_banner_content>p {
        font-size: 18px !important;
    }
}




@media screen and (max-width : 1100px) {


    .login_main {
        height: auto !important;
        padding: 20px 0px;
        background-color: white !important;
        background-image: none !important;
        justify-content: center;
    }

    .login_main>section {
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .home_banner_content>h1 {
        font-size: 30px !important;
    }

    .home_banner_content>p {
        font-size: 17px !important;
    }



    .home_banner {
        height: auto !important;
        flex-direction: column !important;
    }

    .home_banner>section {
        text-align: center !important;
        width: 100%;
        padding: 20px 5px;
    }

    .home_banner_content>div {
        flex-direction: column !important;
        text-align: center !important;
    }

    .home_banner_content>h1 {
        text-align: center !important;
        line-height: 30px !important;
    }

    .home_banner_content>p {
        text-align: center !important;
        line-height: 25px !important;
    }

    .home_banner_content>div>button {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .main_banner>section>img {
        border-radius: 10px;
    }
}




@media screen and (max-width : 740px) {
    .header_options {
        display: none;
    }

    .header_btn1 {
        display: none;
    }

    .menubar {
        display: block;
    }

    .main_banner_2 {
        width: 100%;
        padding: 10px 5px;
    }

    .main_banner_2>section {
        width: 100%;
        margin: 10px 0px;
    }

    .options {
        display: none;
    }

    .menubar {
        display: block !important;
        font-size: 18px !important;
    }

    .header_btn>ul>li {
        padding: 10px 10px;
    }


    .responsive_magemenu {
        width: 100%;
    }
}


@media screen and (max-width : 500px) {
    .login_main>section>section>form {
        width: 92%;
        margin: 0;
        padding: 0;
    }

    .login_main>section>section>p {
        font-size: 15px !important;
    }

    .login_main>section>section>form {
        font-size: 15px !important;
    }

    .continue_with {
        width: 95%;
    }



}


@media screen and (max-width : 410px) {
    .home_banner_content>h1 {
        font-size: 22px !important;
    }

    .home_banner_content>p {
        font-size: 15px !important;
    }

    .main_banner>section {
        text-align: center;
        width: 100%;
        padding: 20px 5px;
    }


    .otp_inputs {
        width: 60px;
        height: 60px;
    }

    .otp_br {
        display: none;
    }
}

@media screen and (max-width : 392px) {
    .login_banner_form>section {
        width: 95%;
    }


    .login_banner_form>h1 {
        font-size: 40px;
    }

    .login_banner_form>p {
        font-size: 15px;
        padding: 0px 5px;
    }
}